<html>
	<head>
		<title>form</title>
		<link rel="stylesheet" type="text/css" href="css/style_time.css">
		<link rel="shortcut icon" href="shrtcut.ico"/>
	</head>
	<div class="container">
		<div class="row">
			<h2>Time Line</h2>
		</div>
    <div class="qa-message-list" id="wallmessages">
    				<div class="message-item" id="m16">
						<div class="message-inner">
							<div class="message-head clearfix">
								<div class="avatar pull-left"><a href="./index.php?qa=user&qa_1=Oleg+Kolesnichenko"><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a></div>
								<div class="user-detail">
									<h5 class="handle">Oleg Kolesnichenko</h5>
									<div class="post-meta">
										<div class="asker-meta">
											<span class="qa-message-what"></span>
											<span class="qa-message-when">
												<span class="qa-message-when-data">Jan 21,2013</span>
											
										</div>
									</div>
								</div>
							</div>
							<div class="qa-message-content">
								<textarea rows="4" cols="149" name="comment" placeholder="Enter comment"></textarea>
							</div>
					</div></div>
					
					
					<div class="message-item" id="m2">
						<div class="message-inner">
							<div class="message-head clearfix">
								<div class="avatar pull-left"><a href="./index.php?qa=user&qa_1=Fynn"><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a></div>
								<div class="user-detail">
									<h5 class="handle"></h5>
									<div class="post-meta">
										<div class="asker-meta">
											<span class="qa-message-what"></span>
											<span class="qa-message-when">
												<span class="qa-message-when-data"></span>
											</span>
											
										</div>
									</div>
								</div>
							</div>
							<div class="qa-message-content">
								<textarea rows="4" cols="149" name="comment" placeholder="Enter comment"></textarea>
							</div>
					</div></div>
					
					<div class="message-item" id="m1">
						<div class="message-inner">
							<div class="message-head clearfix">
								<div class="avatar pull-left"><a href="./index.php?qa=user&qa_1=admin"><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a></div>
								<div class="user-detail">
									<h5 class="handle"></h5>
									<div class="post-meta">
										<div class="asker-meta">
											<span class="qa-message-what"></span>
											<span class="qa-message-when">
												<span class="qa-message-when-data"></span>
											</span>
											
										</div>
									</div>
								</div>
							</div>
							<div class="qa-message-content">
								<textarea rows="4" cols="149" name="comment" placeholder="Enter comment"></textarea>
							</div>
					</div></div>
					
				</div>
</div>
</html>